<div class="pb-8">
    <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.login %></span>
        <%# <%= link_to 'Личный кабинет','general/profile' %>
        
        <%= link_to 'Личный кабинет', edit_user_registration_path %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
</div>

 <div class="field">
    <% if current_user %>
        <%= image_tag(current_user.avatar_thumbnail) %>
    <% end %>
</div>
