<nav class="navbar" style="background-color: #ffb841;">

    <div class="container-fluid">
            
        <div>   
            <img
                src="https://cdn-icons-png.flaticon.com/512/2565/2565077.png"
                height="70"
                alt="Logo"
                loading="lazy"
            />
            <span class="navbar-text fs-4">
               <b>МузОбзор</b>
            </span>
        </div> 
   
        <div class="d-flex align-items-center">

                <% if user_signed_in? %>

                        <span class="navbar-text fs-5">
                            Здравствуйте, <%= current_user.name %>
                        </span>

                        <img
                            src='https://cdn-icons-png.flaticon.com/512/2095/2095113.png'
                            class="rounded-circle"
                            height="70"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"/>

                        <a href =  <%= '/reviews/new' %> class="badge badge-light"><span class="fs-5">Обсуждение</span></a>
                        
                        <img
                            src='https://cdn-icons-png.flaticon.com/512/2095/2095113.png'
                            class="rounded-circle"
                            height="70"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"/>

                        <a href = <%= edit_user_registration_path %> class="badge badge-light"><span class="fs-5">Профиль</span></a>

                        <img
                            src='https://cdn-icons-png.flaticon.com/512/2095/2095113.png'
                            class="rounded-circle"
                            height="70"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"/>

                        <a href =  <%= destroy_user_session_path %> class="badge badge-light"><span class="fs-5">Выйти</span></a>

                        <img
                            src='https://cdn-icons-png.flaticon.com/512/2095/2095113.png'
                            class="rounded-circle"
                            height="70"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"/>

                        <img
                            src='https://cdn-icons-png.flaticon.com/512/8438/8438050.png'
                            class="rounded-circle"
                            height="70"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"/>

                        
                <% else %>
                        
                        <a href =  <%= new_user_session_path %> class="badge badge-light"><span class="fs-5">Войти</span></a>

                        <a href =  <%= new_user_registration_path %> class="badge badge-light"><span class="fs-5">Зарегистрироваться</span></a>

                <% end %>
        
        </div>
    </div>
</nav>

<%= render 'reviews/show' %>


