<nav class="navbar" style="background-color: #ffb841;">

    <% if user_signed_in? %>

        <span class="navbar-text">
            Здравствуйте, <%= current_user.name %>
        </span>

        <div style="padding-right: 30px;">
            <form class="form-inline">
                <a href =  <%= '/reviews/new' %> class="badge badge-light">Обсуждение</a>
            
                <a href =  <%= edit_user_registration_path %> class="badge badge-light">Личный кабинет</a>
                
                <a href =  <%= destroy_user_session_path %> class="badge badge-light">Выйти</a>
                
            </form>
        </div>

    <% else %>
                
        <div class="col align-self-start">
            <%= link_to 'Войти', new_user_session_path %>
        </div>

        <div class="col align-self-start"> 
            <%= link_to 'Зарегистрироваться', new_user_registration_path %>
        </div>

    <% end %>
    

</nav>

<%= render 'reviews/show' %>
