

<h1 class="mb-8 text-3xl text-center">Sign up</h1>

<div class="w-96 m-8 flex items-center">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="w-96 m-8 flex items-center">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "block border border-grey-light p-3 rounded mb-4", autofocus: true %>
        </div>
        
        <div class="field">
          <%= f.label :surname %><br />
          <%= f.text_field :surname, class: "block border border-grey-light p-3 rounded mb-4", autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :login %><br />
          <%= f.text_field :login, class: "block border border-grey-light p-3 rounded mb-4", autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "block border border-grey-light p-3 rounded mb-4", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "block border border-grey-light p-3 rounded mb-4", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "block border border-grey-light p-3 rounded mb-4", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "w text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none"%>
        </div>
      <% end %>

    </div>

</div>

<div class="text-grey-dark mt-6">
      Already have an account?
    <%= link_to 'Sign In', 'sign_in', class: "no-underline border-b border-blue text-blue"%>
</div>
